::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-track {
    background-color: hsla(0, 0%, 0%, 0.1);
}
::-webkit-scrollbar-thumb {
    background-color: #4264D0;
    border-radius: 0.5rem;
}
::-webkit-scrollbar {
    width: 0.5rem;
}